@page
@model Watermark.Pages.Admin.DashboardModel
@{
    ViewData["Title"] = "Watermark eCommerce";
    ViewData["Header"] = "Welcome To Watermark eCommerce Dashboard";
    ViewData["Tagline"] = "Manage your entire eCommerce platform!";
    ViewData["DisplayStats"] = true;
}

<div class="card">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed justo ex. Morbi imperdiet porta purus eu ornare. Nullam eget ligula leo. Cras commodo faucibus elit, vitae congue tellus interdum vitae. Aenean eget suscipit felis, ut bibendum dolor. Quisque quis odio id neque cursus congue. Curabitur mattis dolor leo, pretium venenatis mauris eleifend eget. Cras ut auctor purus, vel tristique neque. Vivamus lectus lectus, scelerisque sed felis nec, interdum scelerisque quam. Sed ultrices, purus ut elementum rhoncus, ex felis posuere massa, id mollis nibh nunc sollicitudin ipsum.

    Fusce sit amet leo libero. Aenean dignissim pellentesque ultricies. Cras sit amet molestie tellus. Cras non sapien arcu. Donec justo tortor, posuere eu tincidunt non, faucibus at erat. In hac habitasse platea dictumst. Pellentesque fringilla suscipit mollis.

    Suspendisse tincidunt justo id massa condimentum, id dapibus massa elementum. In elit dui, euismod non blandit lobortis, porta ut justo. Curabitur in eros eu turpis maximus efficitur. Nam posuere lorem et tincidunt gravida. Sed iaculis urna nibh, eu viverra justo tempor non. Nam tellus ligula, consequat non commodo quis, ullamcorper a metus. Sed laoreet porttitor gravida. Vivamus mi dolor, rhoncus quis ante vel, consequat luctus nunc. Donec tempor porttitor pretium. Fusce tincidunt luctus ullamcorper.

    Fusce egestas tortor vitae mauris aliquet, id sollicitudin urna efficitur. Maecenas quam nulla, consequat sit amet nulla nec, faucibus tempor ex. Aliquam nec est massa. Aenean sit amet erat eget tortor ultrices fringilla non eget odio. Nullam sed nibh ultrices, placerat nunc ut, elementum sapien. Aenean vitae odio vel magna tincidunt semper vel in nunc. Phasellus est enim, consequat a arcu sit amet, sagittis hendrerit tellus. Duis ultrices elit a hendrerit vehicula. Nulla mauris lorem, suscipit sed nunc ut, semper lobortis felis. Vivamus commodo semper augue eget ornare. Vivamus ut lacus maximus, mollis sem vitae, pellentesque felis. Nulla imperdiet tellus diam.

    Quisque a felis faucibus, convallis nulla vel, ultrices eros. Nullam efficitur et purus nec condimentum. Nulla quis gravida tortor, ut condimentum mauris. Nullam at arcu nec urna luctus vehicula vel vitae leo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum mollis lectus orci, id tincidunt libero viverra ut. Suspendisse potenti. Integer molestie vel quam sed eleifend. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam at laoreet eros. Fusce aliquam dolor aliquet accumsan maximus. Morbi et fermentum urna.
</div>