@page
@model Watermark.Pages.Admin.ErrorModel
@{
    ViewData["Title"] = "Home page";
    ViewData["Header"] = "Woops";
    ViewData["Tagline"] = "An error has occured.";
    ViewData["DisplayStats"] = false;
}

<h1>Something went wrong!</h1>