@page
@model Watermark.Pages.Admin.Account.ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

@section Styles
{
}

<h2>@ViewData["Title"]</h2>
<p>
    Please check your email to reset your password.
</p>

@section Scripts {
}