/* Dropdown menu styling */
#dropdown-notifications {
    padding: 0;
    border-bottom: none;
}

.dropdown-notification-container {
    min-width: 300px;
    left: -250px;
}

#dropdown-notifications-mark-read {
    background-color: #536c79;
    border-bottom: none;
    color: white;
    padding: 4px 10px;
    height: 30px;
}

#notification-count {
    top: 35%;
    left: 45%;
}

.dropdown-toggle::after {
    color: white;
}


/* Form item hover popup descriptions */
.hover-desc-popup {
    display: none;
    position: absolute;
    bottom: 40px;
    left: 0px;
    z-index: 2;
    border: 1px solid #BCCAD1;
    padding: 5px 10px;
    background-color: #EEF1F4;
    color: #171A1D;
    overflow: visible;
    min-width: 150px;
    white-space: nowrap;
}

.hover-desc-label {
    position: relative;
}

/* Styling for a form container to wrap a pill button */
.switch-container {
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #BCCAD1;
}
.switch-margin-top {
    margin-top: 5px;
    margin-bottom: 0;
}