@page

@using Watermark.Models.Products;
@using Watermark.Extensions.TagHelpers;

@model Watermark.Pages.Admin.Catalog.Products.NewModel
@{
    ViewData["Title"] = "Add Product";
}

@section Styles
{
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong>Add A New Product</strong>
            </div>
            <div class="card-body card-body-large">
                <form asp-controller="Products" asp-action="AddProductAsync"
                      data-ajax-begin="onBegin" data-ajax-complete="onComplete"
                      data-ajax-failure="onFailed" data-ajax-success="onSuccess"
                      data-ajax="true" data-ajax-method="POST">

                    <div class="card-body-large-subheading">
                        <h6>Product Details</h6>
                        <hr />
                    </div>

                    <div class="form-group row card-body-large-body">

                        <div class="input-group col-md-4">
                            <label class="input-group-addon" asp-for="Product.ProductName.DisplayName" hover-desc="@Model.Product.ProductName.DisplayName"></label>
                            <input type="text" asp-for="Product.ProductName.DisplayName" class="form-control" />
                        </div>

                        <div class="input-group col-md-3">
                            <label class="input-group-addon" asp-for="Product.ProductSKU.SKU" hover-desc=@Model.Product.ProductSKU.SKU></label>
                            <input type="text" asp-for="Product.ProductSKU.SKU" class="form-control" />
                        </div>

                        <div class="input-group col-md-3">
                            <label class="input-group-addon" asp-for="Product.ProductType" hover-desc="@Model.Product.ProductType"></label>
                            <select asp-for="Product.ProductType" asp-items="Html.GetEnumSelectList<ProductType>()" class="form-control">
                                <option selected disabled hidden></option>
                            </select>
                        </div>

                        <div class="input-group col-md-2">
                            <label class="input-group-addon" asp-for="Product.Active" hover-desc="@Model.Product.Active"></label>
                            <div class="switch-container">
                                <label class="switch switch-default switch-pill switch-primary switch-margin-top">
                                    <input asp-for="Product.Active" type="checkbox" class="switch-input" checked="">
                                    <span class="switch-label"></span>
                                    <span class="switch-handle"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="card-body-large-subheading">
                        <h6>Product Pricing</h6>
                        <hr />
                    </div>
                    
                    <div class="form-group row card-body-large-body">

                        <div class="input-group col-md-3">
                            <label class="input-group-addon" asp-for="Product.PriceInformation.BasePrice.Cost" hover-desc=@Model.Product.PriceInformation.BasePrice.Cost></label>
                            <input type="text" asp-for="Product.PriceInformation.BasePrice.Cost" class="form-control" />
                            <label class="input-group-addon additional-label-primary">GBP</label> <!-- TODO: Implement global settings and pull this from the site locale setting. -->
                        </div>

                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </div>

                    <p id="results"></p>
                </form>
            </div>

            <div class="card-footer">
                Footer.
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="@Url.Content("~/js/pages/products_new.js")"></script>
}