@page
@using Watermark.Extensions;

@model Watermark.Pages.Admin.Catalog.OverviewModel
@{ 
    ViewData["Title"] = "Products";
}

@section Styles 
{
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-1">
                        <a href="~/Admin/Catalog/Products/New" class="form-control btn">+</a>
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" placeholder="Search" type="text" />
                    </div>
                    <div class="col-md-3">
                        <select class="form-control">
                            <option value="10">10</option>
                            <option selected value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-sm btn-primary" type="button"><<</button>
                        <button class="btn btn-primary" type="button"><</button>
                        <button class="btn btn-primary" disabled type="button">0</button>
                        <button class="btn btn-primary" type="button">1</button>
                        <button class="btn btn-primary" type="button">2</button>
                        <button class="btn btn-primary" type="button">></button>
                        <button class="btn btn-primary" type="button">>></button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <td>SKU</td>
                            <td>Name</td>
                            <td>Type</td>
                            <td>Active</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model.Products)
                        {
                            <tr>
                                <td>@product.ProductSKU.SKU</td>
                                <td>@product.ProductName.DisplayName</td>
                                <td>@product.ProductType.ToDisplayName()</td>
                                <td>@(product.Active ? "Yes" : "No")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <div class="row">
                    <button class="btn btn-sm btn-primary" type="button"><<</button>
                    <button class="btn btn-primary" type="button"><</button>
                    <button class="btn btn-primary" disabled type="button">0</button>
                    <button class="btn btn-primary" type="button">1</button>
                    <button class="btn btn-primary" type="button">2</button>
                    <button class="btn btn-primary" type="button">></button>
                    <button class="btn btn-primary" type="button">>></button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{

}